mixin productTags(show,...items)
	.tags-slider
		+b.tags-list--js.swiper(data-mobile="false")
			.swiper-wrapper
				-for (var i = 0; i < items.length; i++)
					+e.item.swiper-slide
						+e.btn.BUTTON= items[i]
				if show					
					.btn.btn-outline-primary.swiper-slide(data-visible='visible') Скрыть
	// /.tags-list

mixin catalogRowItem(img,title,price='125 000 руб.')
	+b.catalog-item(href="#")
		+img(`img/prod-${img}.jpg`)
		+e.text
			+e.title= title
			+e.price!= price

mixin catalogRowItem2(img,title,price='125 000 руб.')
	+b.catalog-item--2(href="#")
		+e.img-wrap
			+e.slider-wrapper
				+e.slider--js.swiper
					.swiper-wrapper
						.swiper-slide
							+img(`img/prod-${img}.jpg`)
						.swiper-slide
							+img(`img/prod-${img}.jpg`)
					+arrow
		+e.text
			+e.title= title
			+e.price!= price

mixin categoryRow
	+b.slider-category--js.swiper
		.swiper-wrapper
			+e.slide.swiper-slide
				+catalogRowItem(`1`,`КУХНИ НА ЗАКАЗ`,`от 125 000 руб.`)
			+e.slide.swiper-slide
				+catalogRowItem(`2`,`МЕБЕЛЬ В ДЕТСКУЮ`,`от 125 000 руб.`)
			+e.slide.swiper-slide
				+catalogRowItem(`3`,`СТОЛОВЫЕ ГРУППЫ`,`от 125 000 руб.`)

mixin categorySliderRow
	+b.slider-category--js.swiper
		.swiper-wrapper
			+e.slide.swiper-slide
				+catalogRowItem(`1`,`КУХНИ НА ЗАКАЗ`,`от 125 000 руб.`)
			+e.slide.swiper-slide
				+catalogRowItem(`2`,`МЕБЕЛЬ В ДЕТСКУЮ`,`от 125 000 руб.`)
			+e.slide.swiper-slide
				+catalogRowItem(`3`,`СТОЛОВЫЕ ГРУППЫ`,`от 125 000 руб.`)
			+e.slide.swiper-slide
				+catalogRowItem(`1`,`КУХНИ НА ЗАКАЗ`,`от 125 000 руб.`)
			+e.slide.swiper-slide
				+catalogRowItem(`2`,`МЕБЕЛЬ В ДЕТСКУЮ`,`от 125 000 руб.`)
			+e.slide.swiper-slide
				+catalogRowItem(`3`,`СТОЛОВЫЕ ГРУППЫ`,`от 125 000 руб.`)
		+e.controls.row
			.d-none.d-md-block.col-md-6
				.swiper-pagination
			.col-md-6
				.arrow-wrap
					+arrow

mixin seeMore(title)
	h2= title
	+b.slider-more--js.swiper
		.swiper-wrapper
			+e.slide.swiper-slide
				+product-item('1')
			+e.slide.swiper-slide
				+product-item('2')
			+e.slide.swiper-slide
				+product-item('3')
			+e.slide.swiper-slide
				+product-item('4')
			+e.slide.swiper-slide
				+product-item('5')
		+e.controls
			.swiper-pagination
			.arrow-wrap
				+arrow

mixin product-item(img, title="Кухня Дестини", total='110 900 р', price='18 900 р')
	+b.product-item
		+e.img-wrap
			+e.slider-wrapper
				+e.slider--js.swiper
					.swiper-wrapper
						.swiper-slide
							+img(`img/prod-${img}.jpg`)
						.swiper-slide
							+img(`img/prod-${img}.jpg`)
					+arrow
			+e.buttons
				+e.compare-btn.BUTTON 
					+icon('compare')
				+e.fave-btn.BUTTON.active
					+icon('fave')
			+e.tags
				+e.tag--discount Скидка 15%
				+e.tag--guarantee Гарантия 5 лет
				+e.tag--promo Акция
			+e.title(href="#")!= title
		+e.descr
			+e.text Сравните цену в разных материалах
				.tooltips
					+icon('question')
				.tooltiptext Какой-то текст
					.tooltip-arrow(data-popper-arrow)
			+e.text-row
				+e.text-left.FORM
					+e.text-title Фасад верх
					+e.form-row
						+in-c('radio','ПВХ','front-up')(checked)
						+in-c('radio','ПЛАСТИК','front-up')
				+e.text-right.FORM
					+e.text-title Фасад верх
					+e.form-row
						+in-c('radio','ПВХ','front-down')(checked)
						+in-c('radio','ПЛАСТИК','front-down')
			+e.text-row
				+e.text-left
					+e.text-title Стоимость кухни от
					+e.price= total
				+e.text-right
					+e.text-title.d-none.d-lg-block Цена погонного метра
						.tooltips
							+icon('question')
						.tooltiptext Какой-то текст
							.tooltip-arrow(data-popper-arrow)
					+e.text-title.d-lg-none Цена п.м.
						.tooltips
							+icon('question')
						.tooltiptext Какой-то текст
							.tooltip-arrow(data-popper-arrow)
					+e.price= price
	// /.product-item

mixin catalogSlider
	+b.slider-catalog--js.swiper
		.swiper-wrapper
			+e.slide.swiper-slide
				+e.item
					+e.text
						+e.title ПРОЙДИТЕ ОПРОС И&nbsp;ПОЛУЧИТЕ СКИДКУ
						+e.descr Подбирите кухню ответив всего на&nbsp;7&nbsp;вопросов и&nbsp;получите скидку от&nbsp;производителя
						+btn('Подобрать кухню').btn.btn-primary
					+img('img/catalog-slider.png')
			+e.slide.swiper-slide
				+e.item
					+e.text
						+e.title ПРОЙДИТЕ ОПРОС И&nbsp;ПОЛУЧИТЕ СКИДКУ
						+e.descr Подбирите кухню ответив всего на&nbsp;7&nbsp;вопросов и&nbsp;получите скидку от&nbsp;производителя
						+btn('Подобрать кухню').btn.btn-primary
					+img('img/catalog-slider.png')
			+e.slide.swiper-slide
				+e.item
					+e.text
						+e.title ПРОЙДИТЕ ОПРОС И&nbsp;ПОЛУЧИТЕ СКИДКУ
						+e.descr Подбирите кухню ответив всего на&nbsp;7&nbsp;вопросов и&nbsp;получите скидку от&nbsp;производителя
						+btn('Подобрать кухню').btn.btn-primary
					+img('img/catalog-slider.png')
		+e.controls
			.swiper-pagination
			.arrow-wrap
				+arrow

mixin catSorter
	+b.catalog-sorter&attributes(attributes)
		+e.container.container
			+select('Сортировка','Сначала дорогие','Сначала недорогие')
			+e.total.d-none.d-md-block Всего: 250
			+e.display.d-none.d-md-flex
				| Отображать по:
				+btn('12','button').btn.active
				+btn('24','button').btn
				+btn('48','button').btn
			+pugin()
			+e.filter-btn.BUTTON.d-md-none.icon-btn
				+icon('filter')
			+e.mob-sort
				+e.sort-body
					+e.mob-close
					+e.mob-title Фильтр
					+b.catalog-filter
						+e.row
						+e.dropdown-item
							+e.dropdown-title Форма
							+e.dropdown-btn.BUTTON Не выбрано
							+e.dropdown-body
								+e.dropdown-content
									+in-c('checkbox','Выбор 1','form')
									+in-c('checkbox','Выбор 2','form')
									+in-c('checkbox','Выбор 3','form')
						+e.dropdown-item
							+e.dropdown-title Стиль
							+e.dropdown-btn.BUTTON Не выбрано
							+e.dropdown-body
								+e.dropdown-content
									+in-c('checkbox','Выбор 1','style')
									+in-c('checkbox','Выбор 2','style')
									+in-c('checkbox','Выбор 3','style')
						+e.dropdown-item
							+e.dropdown-title Материал
							+e.dropdown-btn.BUTTON Не выбрано
							+e.dropdown-body
								+e.dropdown-content
									+in-c('checkbox','Духовой шкаф','material')
									+in-c('checkbox','Духовой шкаф','material')
									+in-c('checkbox','Варочная панель ','material')
									+in-c('checkbox','Духовой шкаф','material')
									+in-c('checkbox','Духовой шкаф','material')
									+in-c('checkbox','Варочная панель ','material')
									+in-c('checkbox','Духовой шкаф','material')
									+in-c('checkbox','Духовой шкаф','material')
									+in-c('checkbox','Варочная панель ','material')
									+in-c('checkbox','Духовой шкаф','material')
									+in-c('checkbox','Духовой шкаф','material')
									+in-c('checkbox','Варочная панель ','material')
								+e.dropdown-summary
									+e.left Выбрано 3
									+e.right(href="#") Сбросить
						+e.dropdown-item--color
							+e.dropdown-title Цвет
							+e.dropdown-btn.BUTTON Розовы...
							+e.dropdown-body
								+e.dropdown-content
									+in-c('checkbox','Красный','color').--red
									+in-c('checkbox','Зеленый','color').--green
									+in-c('checkbox','Синий','color').--blue
								+e.dropdown-summary
									+e.left Выбрано 3
									+e.right(href="#") Сбросить
						+e.dropdown-item
							+e.dropdown-title Стоимость
							+e.dropdown-btn.BUTTON Не выбрано
							+e.dropdown-body
								+e.dropdown-content
									+in-c('checkbox','Выбор 1','price')
									+in-c('checkbox','Выбор 2','price')
									+in-c('checkbox','Выбор 3','price')
						+e.dropdown-item
							+e.dropdown-title Размер
							+e.dropdown-btn.BUTTON Не выбрано
							+e.dropdown-body
								+e.dropdown-content
									+in-c('checkbox','Выбор 1','size')
									+in-c('checkbox','Выбор 2','size')
									+in-c('checkbox','Выбор 3','size')
						+e.dropdown-item
							+e.dropdown-title Тип
							+e.dropdown-btn.BUTTON Не выбрано
							+e.dropdown-body
								+e.dropdown-content
									+in-c('checkbox','Выбор 1','type')
									+in-c('checkbox','Выбор 2','type')
									+in-c('checkbox','Выбор 3','type')

mixin catFilter
	.filter-wrap
		+b.catalog-filter
			+e.row.d-none.d-md-grid
				+e.dropdown-item
					+e.dropdown-title Форма
					+e.dropdown-btn.BUTTON Не выбрано
					+e.dropdown-body
						+e.dropdown-content
							+in-c('checkbox','Выбор 1','form')
							+in-c('checkbox','Выбор 2','form')
							+in-c('checkbox','Выбор 3','form')
				+e.dropdown-item
					+e.dropdown-title Стиль
					+e.dropdown-btn.BUTTON Не выбрано
					+e.dropdown-body
						+e.dropdown-content
							+in-c('checkbox','Выбор 1','style')
							+in-c('checkbox','Выбор 2','style')
							+in-c('checkbox','Выбор 3','style')
				+e.dropdown-item
					+e.dropdown-title Материал
					+e.dropdown-btn.BUTTON Не выбрано
					+e.dropdown-body
						+e.dropdown-content
							+in-c('checkbox','Духовой шкаф','material')
							+in-c('checkbox','Духовой шкаф','material')
							+in-c('checkbox','Варочная панель ','material')
							+in-c('checkbox','Духовой шкаф','material')
							+in-c('checkbox','Духовой шкаф','material')
							+in-c('checkbox','Варочная панель ','material')
							+in-c('checkbox','Духовой шкаф','material')
							+in-c('checkbox','Духовой шкаф','material')
							+in-c('checkbox','Варочная панель ','material')
							+in-c('checkbox','Духовой шкаф','material')
							+in-c('checkbox','Духовой шкаф','material')
							+in-c('checkbox','Варочная панель ','material')
						+e.dropdown-summary
							+e.left Выбрано 3
							+e.right(href="#") Сбросить
				+e.dropdown-item--color
					+e.dropdown-title Цвет
					+e.dropdown-btn.BUTTON Розовы...
					+e.dropdown-body
						+e.dropdown-content
							+in-c('checkbox','Красный','color').--red
							+in-c('checkbox','Зеленый','color').--green
							+in-c('checkbox','Синий','color').--blue
						+e.dropdown-summary
							+e.left Выбрано 3
							+e.right(href="#") Сбросить
				+e.dropdown-item
					+e.dropdown-title Стоимость
					+e.dropdown-btn.BUTTON Не выбрано
					+e.dropdown-body
						+e.dropdown-content
							+in-c('checkbox','Выбор 1','price')
							+in-c('checkbox','Выбор 2','price')
							+in-c('checkbox','Выбор 3','price')
				+e.dropdown-item
					+e.dropdown-title Размер
					+e.dropdown-btn.BUTTON Не выбрано
					+e.dropdown-body
						+e.dropdown-content
							+in-c('checkbox','Выбор 1','size')
							+in-c('checkbox','Выбор 2','size')
							+in-c('checkbox','Выбор 3','size')
				+e.dropdown-item
					+e.dropdown-title Тип
					+e.dropdown-btn.BUTTON Не выбрано
					+e.dropdown-body
						+e.dropdown-content
							+in-c('checkbox','Выбор 1','type')
							+in-c('checkbox','Выбор 2','type')
							+in-c('checkbox','Выбор 3','type')
				//- label(for='select-form') Форма
				//- 	select.form-control.form-control-select(name='select-form'  multiple)
				//- 		option(value='Не выбрано' selected) Не выбрано
				//- 		option(value='Выбор 1') Выбор 1
				//- 		option(value='Выбор 2') Выбор 2
				//- 		option(value='Выбор 3') Выбор 3
				//- +select('Форма','Не выбрано','Не выбрано 1','Не выбрано 2').choices(multiple)
				//- +select('Стиль','Не выбрано','Не выбрано 1','Не выбрано 2')
				//- +select('Материал','Выбрано 3','Не выбрано 1','Не выбрано 2')
				//- +select('Цвет','Розовы...','Не выбрано 1','Не выбрано 2')
				//- +select('Стоимость','Не выбрано','Не выбрано 1','Не выбрано 2')
				//- +select('Размер','Не выбрано','Не выбрано 1','Не выбрано 2')
				//- +select('Тип','Не выбрано','Не выбрано 1','Не выбрано 2')
			+btn('Сбросить фильтры','button').btn.d-none.d-md-block
			//- button.d-md-none.icon-btn
			//- 	+icon('filter')
		//- +catSorter

mixin sCatalog(data)
	// start sCatalog
	+b.sCatalog.section&attributes(attributes)
		.container
			+b.section-title
				h2 ПОПУЛЯРНЫЕ КУХНИ
				.section-subtitle Выбор наших клиентов в 2022 году
			+categorySliderRow()
			//- +b.slider-catalog--js.swiper
			//- 	.swiper-wrapper
			//- 		+e.slide.swiper-slide
			//- 			+catalogRowItem(`1`,`КУХНИ НА ЗАКАЗ`,`от 125 000 руб.`)
			//- 		+e.slide.swiper-slide
			//- 			+catalogRowItem(`2`,`МЕБЕЛЬ В ДЕТСКУЮ`,`от 125 000 руб.`)
			//- 		+e.slide.swiper-slide
			//- 			+catalogRowItem(`3`,`СТОЛОВЫЕ ГРУППЫ`,`от 125 000 руб.`)

			//- +e.row.row
			//- 	- const wrapClass="col-3"
			//- 	+e.col(class= wrapClass)
			//- 		+product-item(`1`,``,``,``) 
			//- 	+e.col(class= wrapClass)
			//- 		+product-item(`2`,``,``,``) 
			//- 	+e.col(class= wrapClass)
			//- 		+product-item(`3`,``,``,``) 
			//- 	+e.col(class= wrapClass)
			//- 		+product-item(`4`,``,``,``) 
			//- 	+e.col(class= wrapClass)
			//- 		+product-item(`5`,``,``,``) 
			//- 	+e.col(class= wrapClass)
			//- 		+product-item(`6`,``,``,``) 
			//- 	+e.col(class= wrapClass)
			//- 		+product-item(`7`,``,``,``) 
			//- 	+e.col(class= wrapClass)
			//- 		+product-item(`8`,``,``,``) 

	// end sCatalog

mixin catalogBody
	.catalog-body-wrap&attributes(attributes)
		.container
			.row.cat-body-row
				.col-md-6.col-xl-4
					+product-item('1')
				.col-md-6.col-xl-4
					+product-item('2')
				.col-md-6.col-xl-4
					+product-item('3')
				.col-md-6.col-xl-4
					+product-item('4')
				.col-md-6.col-xl-4
					+product-item('5')
				.col-md-6.col-xl-4
					+product-item('1')
				.col-md-6.col-xl-4
					+product-item('2')
				.col-md-6.col-xl-4
					+product-item('3')
				.col-md-6.col-xl-4
					+product-item('4')
				.col-md-6.col-xl-4
					+product-item('5')
				.col-md-6.col-xl-4
					+product-item('2')
				.col-md-6.col-xl-4
					+product-item('3')
			+e.bottom-controls
				.catalog-sorter__display.d-none.d-md-flex Отображать по:
					button(class="catalog-sorter__btn btn active" type="button") 12
					button(class="catalog-sorter__btn btn" type="button") 24
					button(class="catalog-sorter__btn btn" type="button") 48
				.d-none.d-md-flex
					+pugin()
				.d-md-none
					+puginMobile()


