mixin productTags(show,...items)
	.tags-slider
		+b.tags-list--js.swiper.UL(data-mobile="false")
			.swiper-wrapper
				-for (var i = 0; i < items.length; i++)
					+e.item.swiper-slide.LI
						+e.btn.BUTTON= items[i]
				if show
					+e.item.swiper-slide.LI
						.btn.btn-outline-primary Показать все
	// /.tags-list

mixin catalogRowItem(img,title,price='125 000 руб.')
	+b.catalog-item(href="#")
		+img(`img/prod-${img}.jpg`)
		+e.text
			+e.title= title
			+e.price!= price

mixin catalogRowItem2(img,title,price='125 000 руб.')
	+b.catalog-item--2(href="#")
		+e.img-wrap
			+e.slider-wrapper
				+e.slider--js.swiper
					.swiper-wrapper
						.swiper-slide
							+img(`img/prod-${img}.jpg`)
						.swiper-slide
							+img(`img/prod-${img}.jpg`)
					+arrow
		+e.text
			+e.title= title
			+e.price!= price

mixin categorySlider
	+b.slider-category--js.swiper
		.swiper-wrapper
			+e.slide.swiper-slide
				+catalogRowItem(`1`,`КУХНИ НА ЗАКАЗ`,`от 125 000 руб.`)
			+e.slide.swiper-slide
				+catalogRowItem(`2`,`МЕБЕЛЬ В ДЕТСКУЮ`,`от 125 000 руб.`)
			+e.slide.swiper-slide
				+catalogRowItem(`3`,`СТОЛОВЫЕ ГРУППЫ`,`от 125 000 руб.`)

mixin seeMore(title)
	h2= title
	+b.slider-more--js.swiper
		.swiper-wrapper
			+e.slide.swiper-slide
				+product-item('1')
			+e.slide.swiper-slide
				+product-item('2')
			+e.slide.swiper-slide
				+product-item('3')
			+e.slide.swiper-slide
				+product-item('4')
			+e.slide.swiper-slide
				+product-item('5')
		+e.controls
			.swiper-pagination
			.arrow-wrap
				+arrow

mixin product-item(img, title="Кухня Дестини", total='110 900 р', price='18 900 р')
	+b.product-item
		+e.img-wrap
			+e.slider-wrapper
				+e.slider--js.swiper
					.swiper-wrapper
						.swiper-slide
							+img(`img/prod-${img}.jpg`)
						.swiper-slide
							+img(`img/prod-${img}.jpg`)
					+arrow
			+e.buttons
				+e.compare-btn.BUTTON 
					+icon('compare')
				+e.fave-btn.BUTTON  
					+icon('fave')
			+e.tags
				+e.tag--discount Скидка 15%
				+e.tag--guarantee Гарантия 5 лет
				+e.tag--promo Акция
			+e.title(href="#")!= title
		+e.descr
			+e.text Сравните цену в разных материалах 
				a(href="#", data-bs-toggle="tooltip" data-bs-title="Default tooltip")
					+icon('question')
			+e.text-row
				+e.text-left.FORM
					+e.text-title Фасад верх
					+e.form-row
						+in-c('radio','ПВХ','front-up')
						+in-c('radio','ПЛАСТИК','front-up')
				+e.text-right.FORM
					+e.text-title Фасад верх
					+e.form-row
						+in-c('radio','ПВХ','front-down')
						+in-c('radio','ПЛАСТИК','front-down')
			+e.text-row
				+e.text-left
					+e.text-title Стоимость кухни от
					+e.price= total
				+e.text-right
					+e.text-title.d-none.d-lg-block Цена погонного метра
						+icon('question')
					+e.text-title.d-lg-none Цена п.м.
						+icon('question')
					+e.price= price
	// /.product-item

mixin catalogSlider
	+b.slider-catalog--js.swiper
		.swiper-wrapper
			+e.slide.swiper-slide
				+e.item
					+e.text
						+e.title ПРОЙДИТЕ ОПРОС И&nbsp;ПОЛУЧИТЕ СКИДКУ
						+e.descr Подбирите кухню ответив всего на&nbsp;7&nbsp;вопросов и&nbsp;получите скидку от&nbsp;производителя
						+btn('Подобрать кухню').btn.btn-primary
					+img('img/catalog-slider.png')
			+e.slide.swiper-slide
				+e.item
					+e.text
						+e.title ПРОЙДИТЕ ОПРОС И&nbsp;ПОЛУЧИТЕ СКИДКУ
						+e.descr Подбирите кухню ответив всего на&nbsp;7&nbsp;вопросов и&nbsp;получите скидку от&nbsp;производителя
						+btn('Подобрать кухню').btn.btn-primary
					+img('img/catalog-slider.png')
			+e.slide.swiper-slide
				+e.item
					+e.text
						+e.title ПРОЙДИТЕ ОПРОС И&nbsp;ПОЛУЧИТЕ СКИДКУ
						+e.descr Подбирите кухню ответив всего на&nbsp;7&nbsp;вопросов и&nbsp;получите скидку от&nbsp;производителя
						+btn('Подобрать кухню').btn.btn-primary
					+img('img/catalog-slider.png')
		+e.controls
			.swiper-pagination
			.arrow-wrap
				+arrow

mixin catSorter
	+b.catalog-sorter&attributes(attributes)
		+select('Сортировка','Сначала дорогие','Сначала недорогие')
		+e.total.d-none.d-md-block Всего: 250
		+e.display.d-none.d-md-flex
			| Отображать по:
			+btn('12','button').btn.active
			+btn('24','button').btn
			+btn('48','button').btn
		+pugin()

mixin catFilter
	.filter-wrap
		+b.catalog-filter
			+e.row.d-none.d-md-grid
				+select('Форма','Не выбрано','Не выбрано 1','Не выбрано 2')
				+select('Стиль','Не выбрано','Не выбрано 1','Не выбрано 2')
				+select('Материал','Выбрано 3','Не выбрано 1','Не выбрано 2')
				+select('Цвет','Розовы...','Не выбрано 1','Не выбрано 2')
				+select('Стоимость','Не выбрано','Не выбрано 1','Не выбрано 2')
				+select('Размер','Не выбрано','Не выбрано 1','Не выбрано 2')
				+select('Тип','Не выбрано','Не выбрано 1','Не выбрано 2')
			+btn('Сбросить фильтры','button').btn.d-none.d-md-block
			button.d-md-none.icon-btn
				+icon('filter')
		+catSorter

mixin sCatalog(data)
	// start sCatalog
	+b.sCatalog.section&attributes(attributes)
		.container
			+b.section-title
				h2 ПОПУЛЯРНЫЕ КУХНИ
				.section-subtitle Выбор наших клиентов в 2022 году
			+categorySlider()
			//- +b.slider-catalog--js.swiper
			//- 	.swiper-wrapper
			//- 		+e.slide.swiper-slide
			//- 			+catalogRowItem(`1`,`КУХНИ НА ЗАКАЗ`,`от 125 000 руб.`)
			//- 		+e.slide.swiper-slide
			//- 			+catalogRowItem(`2`,`МЕБЕЛЬ В ДЕТСКУЮ`,`от 125 000 руб.`)
			//- 		+e.slide.swiper-slide
			//- 			+catalogRowItem(`3`,`СТОЛОВЫЕ ГРУППЫ`,`от 125 000 руб.`)

			//- +e.row.row
			//- 	- const wrapClass="col-3"
			//- 	+e.col(class= wrapClass)
			//- 		+product-item(`1`,``,``,``) 
			//- 	+e.col(class= wrapClass)
			//- 		+product-item(`2`,``,``,``) 
			//- 	+e.col(class= wrapClass)
			//- 		+product-item(`3`,``,``,``) 
			//- 	+e.col(class= wrapClass)
			//- 		+product-item(`4`,``,``,``) 
			//- 	+e.col(class= wrapClass)
			//- 		+product-item(`5`,``,``,``) 
			//- 	+e.col(class= wrapClass)
			//- 		+product-item(`6`,``,``,``) 
			//- 	+e.col(class= wrapClass)
			//- 		+product-item(`7`,``,``,``) 
			//- 	+e.col(class= wrapClass)
			//- 		+product-item(`8`,``,``,``) 

	// end sCatalog

mixin catalogBody
	.catalog-body-wrap&attributes(attributes)
		.container
			.row.cat-body-row
				.col-md-6.col-xl-4
					+product-item('1')
				.col-md-6.col-xl-4
					+product-item('2')
				.col-md-6.col-xl-4
					+product-item('3')
				.col-md-6.col-xl-4
					+product-item('4')
				.col-md-6.col-xl-4
					+product-item('5')
				.col-md-6.col-xl-4
					+product-item('1')
				.col-md-6.col-xl-4
					+product-item('2')
				.col-md-6.col-xl-4
					+product-item('3')
				.col-md-6.col-xl-4
					+product-item('4')
				.col-md-6.col-xl-4
					+product-item('5')
				.col-md-6.col-xl-4
					+product-item('2')
				.col-md-6.col-xl-4
					+product-item('3')
			+e.bottom-controls
				.catalog-sorter__display.d-none.d-md-flex Отображать по:
					button(class="catalog-sorter__btn btn active" type="button") 12
					button(class="catalog-sorter__btn btn" type="button") 24
					button(class="catalog-sorter__btn btn" type="button") 48
				.d-none.d-md-flex
					+pugin()
				.d-md-none
					+puginMobile()

