include ../../_assets/bemto/bemto
- set_bemto_settings({ modifier: "--" })
include components/menu.pug
include components/icon.pug
include components/breadcrumb.pug
include components/pugination.pug
include components/soc.pug
include components/pic.pug
include components/img.pug
include components/btn.pug

include components/ddgroup.pug

mixin arrow()
	.swiper-button-hand.swiper-button-hand-prev.swiper-button-prev
		+icon('chevron-left')
	.swiper-button-hand.swiper-button-hand-next.swiper-button-next
		+icon('chevron-right')
//- /arrow for swiper-slider

mixin ie11()
	//- modernizer and for ie11
	 
	<!--[if lt IE 11]><p   class="browsehappy container">К сожалению, вы используете устаревший браузер. Пожалуйста, <a href="http://browsehappy.com/" target="_blank">обновите ваш браузер</a>, чтобы улучшить производительность, качество отображаемого материала и повысить безопасность.</p><![endif]-->

mixin addblock()
	+b.addBlock
		+e.btn--minus(type="button")
		input(type="text" value="1")
		+e.btn--plus(type="button")

mixin search()
	+b.search-block.form-wrap
		form
			.form-del-wrap
				input(type="text" placeholder="Поиск по сайту").input--js
				+e.BUTTON.search
					+icon("search")
				button(type='button').search-block__del.search-del--js
		button.search-block__cross.search-toggle--js
		+e.UL.result
			li
				a(href="#") Подсказка 
					span поиска
			li
				a(href="#") Длинное слово подсказки 
					span поиска
			li
				a(href="#") Слово подсказки  
					span поиска
			li
				a(href="#") Подсказки  
					span поиска



mixin page-head(t, text, ...items)
	+b.page-head
		- let l = items.length
		.container
			+breadcrumb('Главная',...items)
			if t
				h1= t
			if text
				p!= text

mixin page-head2(t, text, ...items)
	+b.page-head
		- let l = items.length
		.container
			.row
				.col-lg-8
					+breadcrumb('Главная',...items)
					if t
						h1= t
					if text
						p!= text

mixin video(i)
	+b.video(href="https://www.youtube.com/watch?v=L_LUpnjgPso&t=1s" data-fancybox= `sAbout-video-${i}` )
		+e.img-wrap
			.img-wrap-center
				+img(`img/video-img-${i}.jpg`)
		+e.content
			+e.icon 
				+icon('play')
			.h4 спальня в белом цвете

mixin videoLg()
	+b.videoLg
		+e.img-wrap(href="https://www.youtube.com/watch?v=L_LUpnjgPso&t=1s" data-fancybox= "sAbout-video")
			.img-wrap-center
				+img('img/sAbout-img-1.jpg')
			+e.icon 
				+icon('play')
			+e.video-content Узнайте больше о нашей компании из видео

mixin partnersItem(img, descr='Название компании в одну или несколько строк')
	+e.item.col-6.col-md-4.col-xl-3
		+img(`img/partner-${img}.jpg`).sPartners__item-img
		+e.descr!= descr

mixin rating(name, id)
	.rating__group
		input.rating__input(type='radio' name=name value='1' id=`${id}-1`)
		label.rating__star(for=`${id}-1` aria-label='Ужасно')
		input.rating__input(type='radio' name=name value='2' id=`${id}-2`)
		label.rating__star(for=`${id}-2` aria-label='Сносно')
		input.rating__input(type='radio' name=name value='3' checked='' id=`${id}-3`)
		label.rating__star(for=`${id}-3` aria-label='Нормально')
		input.rating__input(type='radio' name=name value='4' id=`${id}-4`)
		label.rating__star(for=`${id}-4` aria-label='Хорошо')
		input.rating__input(type='radio' name=name value='5' id=`${id}-5`)
		label.rating__star(for=`${id}-5` aria-label='Отлично')
		.rating__focus

mixin upload-field(text)
	+b.upload-field
		//- +e.title.form-wrap__input-title!=title
		+e.LABEL.wrap
			+e.SPAN.file-name!= text
			+e.SPAN.input-wrap
				+e.btn.btn.btn-outline-primary
					input.input-upload(type='file' name='file' accept=".jpg,.jpeg,.png,.pdf,.webp")
					//- +icon('clip')
					span Выбрать файл

mixin scrollTop()
	+b.BUTTON.scrollTop
		+icon('arrow-up')

mixin logo()
	<svg width="151" height="30" viewBox="0 0 151 30" fill="none" xmlns="http://www.w3.org/2000/svg">
		<path d="M0.193776 25.7238V25.1909L1.93776 24.3189V3.43955L0 1.50179V0.775131H19.4745V1.50179L17.5367 3.43955V24.3189L19.1354 25.1909V25.7238H12.8861V25.1909L14.6301 24.3189V3.43955L13.6128 2.42223H5.91017L4.89285 3.43955V24.3189L6.4915 25.1909V25.7238H0.193776Z" fill="black"/>
		<path d="M85.1161 0.678204V1.21109L86.8601 2.08308V24.1251L84.9224 24.9002V25.6269H101.248H103.137L104.397 24.9002L102.459 24.1251V2.08308L104.058 1.21109V0.678204H97.8085V1.21109L99.5525 2.08308V23.35L98.5351 24.1251H90.8325L89.8152 23.35V2.08308L91.4139 1.21109V0.678204H85.1161Z" fill="black"/>
		<path d="M103.137 25.6269L104.397 24.9002L105.027 29.7931L101.248 25.6269H103.137Z" fill="black"/>
		<path d="M107.303 0.678204V1.21109L109.047 2.08308V24.1251L107.11 24.9002V25.6269H123.435H125.325L126.584 24.9002L124.646 24.1251V2.08308L126.245 1.21109V0.678204H119.996V1.21109L121.74 2.08308V23.35L120.722 24.1251H113.02L112.003 23.35V2.08308L113.601 1.21109V0.678204H107.303Z" fill="black"/>
		<path d="M125.325 25.6269L126.584 24.9002L127.214 29.7931L123.435 25.6269H125.325Z" fill="black"/>
		<path fill-rule="evenodd" clip-rule="evenodd" d="M20.9763 25.7238L20.9763 25.2394C20.9763 25.2394 21.8333 25.3847 22.1874 24.2705C23.8345 19.087 29.0664 3.43954 29.0664 3.43954V2.37377L27.5646 0.872009H35.4126L33.9108 2.37377V3.43954L40.1601 24.8034H40.9836V25.7238H34.9766V25.2394C34.9766 25.2394 35.8427 24.8557 36.3815 24.2705C37.5842 22.9641 35.7032 19.523 35.7032 19.523C34.2015 17.4399 31.1301 14.3104 27.5646 14.5817C27.5646 14.5817 25.1909 20.395 24.3673 23.9314C24.1643 24.8034 25.6269 24.8034 25.6269 24.8034H26.3051V25.7238H20.9763ZM34.4437 15.8412C33.6686 14.3298 29.7931 13.1122 27.9522 12.6924L30.8588 4.31153H31.3433C32.6997 8.78453 35.2188 17.3527 34.4437 15.8412Z" fill="black"/>
		<path fill-rule="evenodd" clip-rule="evenodd" d="M62.3475 25.7238L62.3475 25.2394C62.3475 25.2394 63.2045 25.3847 63.5586 24.2705C65.2057 19.087 70.4376 3.43954 70.4376 3.43954V2.37377L68.9358 0.872009H76.7838L75.282 2.37377V3.43954L81.5313 24.8034H82.3548V25.7238H76.3478V25.2394C76.3478 25.2394 77.2139 24.8557 77.7527 24.2705C78.9554 22.9641 77.0744 19.523 77.0744 19.523C75.5727 17.4399 72.5013 14.3104 68.9358 14.5817C68.9358 14.5817 66.5621 20.395 65.7385 23.9314C65.5355 24.8034 66.9981 24.8034 66.9981 24.8034H67.6763V25.7238H62.3475ZM75.8149 15.8412C75.0398 14.3298 71.1643 13.1122 69.3234 12.6924L72.23 4.31153H72.7145C74.0709 8.78453 76.59 17.3527 75.8149 15.8412Z" fill="black"/>
		<path fill-rule="evenodd" clip-rule="evenodd" d="M45.7311 9.34972C43.4697 15.389 43.0021 21.38 42.6792 25.5785H46.8938V25.1909C46.7154 24.9121 46.3768 24.5609 46.0822 24.2554C45.9502 24.1185 45.8271 23.9908 45.7311 23.8829C45.3436 23.4469 45.1983 20.0074 45.2951 18.7479C45.392 17.4883 45.7861 13.4807 46.8938 10.3186C47.7736 7.80686 49.4498 5.01152 50.1371 3.86539C50.2167 3.7326 50.283 3.62195 50.3333 3.53644C50.7208 2.87767 51.3021 2.55148 51.5444 2.4707H55.4155L56.4328 3.48802V24.3674L54.6888 25.2394V25.7723H60.9381V25.2394L59.3394 24.3674V3.48802L61.2772 1.55026V0.8236H51.5444V0.775131H47.8142V1.55024L48.7831 2.76134C48.6491 3.17014 48.2719 3.91703 47.8054 4.84079C47.1478 6.14285 46.3128 7.79631 45.7311 9.34972Z" fill="black"/>
		<path fill-rule="evenodd" clip-rule="evenodd" d="M139.47 26.4504C145.838 26.4504 151 20.5293 151 13.2252C151 5.92113 145.838 0 139.47 0C133.103 0 127.941 5.92113 127.941 13.2252C127.941 20.5293 133.103 26.4504 139.47 26.4504ZM140.075 25.2726C144.511 25.0501 147.836 19.4758 147.502 12.8222C147.168 6.16862 143.302 0.955245 138.866 1.17782C134.43 1.4004 131.105 6.97464 131.439 13.6282C131.773 20.2818 135.639 25.4952 140.075 25.2726Z" fill="black"/>
	</svg>

mixin whatsappgreen()
	<svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
		<g clip-path="url(#clip0_5_690)">
		<path d="M8.002 0H7.998C3.587 0 0 3.588 0 8C0 9.75 0.564 11.372 1.523 12.689L0.526 15.661L3.601 14.678C4.866 15.516 6.375 16 8.002 16C12.413 16 16 12.411 16 8C16 3.589 12.413 0 8.002 0Z" fill="#4CAF50"/>
		<path d="M12.6571 11.297C12.4641 11.842 11.6981 12.294 11.0871 12.426C10.6691 12.515 10.1231 12.586 8.28505 11.824C5.93405 10.85 4.42005 8.461 4.30205 8.306C4.18905 8.151 3.35205 7.041 3.35205 5.893C3.35205 4.745 3.93505 4.186 4.17005 3.946C4.36305 3.749 4.68205 3.659 4.98805 3.659C5.08705 3.659 5.17605 3.664 5.25605 3.668C5.49105 3.678 5.60905 3.692 5.76405 4.063C5.95705 4.528 6.42705 5.676 6.48305 5.794C6.54005 5.912 6.59705 6.072 6.51705 6.227C6.44205 6.387 6.37605 6.458 6.25805 6.594C6.14005 6.73 6.02805 6.834 5.91005 6.98C5.80205 7.107 5.68005 7.243 5.81605 7.478C5.95205 7.708 6.42205 8.475 7.11405 9.091C8.00705 9.886 8.73105 10.14 8.99005 10.248C9.18305 10.328 9.41305 10.309 9.55405 10.159C9.73305 9.966 9.95405 9.646 10.1791 9.331C10.3391 9.105 10.5411 9.077 10.7531 9.157C10.9691 9.232 12.1121 9.797 12.3471 9.914C12.5821 10.032 12.7371 10.088 12.7941 10.187C12.8501 10.286 12.8501 10.751 12.6571 11.297Z" fill="#FAFAFA"/>
		</g>
		<defs>
			<clipPath id="clip0_5_690">
				<rect width="16" height="16" fill="white"/>
			</clipPath>
		</defs>
	</svg>
