include ../../_assets/bemto/bemto
- set_bemto_settings({ modifier: "--" })
include components/menu.pug
include components/icon.pug
include components/breadcrumb.pug
include components/pugination.pug
include components/soc.pug
include components/pic.pug
include components/img.pug
include components/btn.pug

include components/ddgroup.pug

mixin arrow()
	.swiper-button-hand.swiper-button-hand-prev.swiper-button-prev
		+icon('chevron-left')
	.swiper-button-hand.swiper-button-hand-next.swiper-button-next
		+icon('chevron-right')
//- /arrow for swiper-slider

mixin ie11()
	//- modernizer and for ie11
	 
	<!--[if lt IE 11]><p   class="browsehappy container">К сожалению, вы используете устаревший браузер. Пожалуйста, <a href="http://browsehappy.com/" target="_blank">обновите ваш браузер</a>, чтобы улучшить производительность, качество отображаемого материала и повысить безопасность.</p><![endif]-->

mixin addblock()
	+b.addBlock
		+e.btn--minus(type="button")
		input(type="text" value="1")
		+e.btn--plus(type="button")

mixin search()
	+b.search-block
		form
			input(type="text" placeholder="Поиск по сайту")
			button 
				+icon("search")


mixin page-head(t, text, ...items)
	+b.page-head
		- let l = items.length
		.container
			+breadcrumb('Главная',...items)
			if t
				h1= t
			if text
				p!= text

mixin page-head2(t, text, ...items)
	+b.page-head
		- let l = items.length
		.container
			.row
				.col-lg-8
					+breadcrumb('Главная',...items)
					if t
						h1= t
					if text
						p!= text

mixin video(i)
	+b.video(href="https://www.youtube.com/watch?v=L_LUpnjgPso&t=1s" data-fancybox= `sAbout-video-${i}` )
		+e.img-wrap
			.img-wrap-center
				+img(`img/video-img-${i}.jpg`)
		+e.content
			+e.icon 
				+icon('play')
			.h4 спальня в белом цвете

mixin videoLg()
	+b.videoLg
		+e.img-wrap(href="https://www.youtube.com/watch?v=L_LUpnjgPso&t=1s" data-fancybox= "sAbout-video")
			.img-wrap-center
				+img('img/sAbout-img-1.jpg')
			+e.icon 
				+icon('play')
			+e.video-content Узнайте больше о нашей компании из видео

mixin partnersItem(img, descr='Название компании в одну или несколько строк')
	+e.item.col-6.col-lg-3
		+img(`img/partner-${img}.jpg`).sPartners__item-img
		+e.descr!= descr

mixin rating(name, id)
	.rating__group
		input.rating__input(type='radio' name=name value='1' id=`${id}-1`)
		label.rating__star(for=`${id}-1` aria-label='Ужасно')
		input.rating__input(type='radio' name=name value='2' id=`${id}-2`)
		label.rating__star(for=`${id}-2` aria-label='Сносно')
		input.rating__input(type='radio' name=name value='3' checked='' id=`${id}-3`)
		label.rating__star(for=`${id}-3` aria-label='Нормально')
		input.rating__input(type='radio' name=name value='4' id=`${id}-4`)
		label.rating__star(for=`${id}-4` aria-label='Хорошо')
		input.rating__input(type='radio' name=name value='5' id=`${id}-5`)
		label.rating__star(for=`${id}-5` aria-label='Отлично')
		.rating__focus

mixin upload-field(text)
	+b.upload-field
		//- +e.title.form-wrap__input-title!=title
		+e.LABEL.wrap
			+e.SPAN.file-name!= text
			+e.SPAN.input-wrap
				+e.btn.btn.btn-outline-primary
					input.input-upload(type='file' name='file')
					//- +icon('clip')
					span Выбрать файл